<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>GitHublytics</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        
    </head>

    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
                <a class="navbar-brand" href="#" onclick="goToHome()"><img src="assets/img/profile.png" class="border border-dark rounded-circle" width="50" height="50" alt="">  GitHublytics</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about" onclick="goToAbout()">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Try it!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/github_lytics" target="_blank">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <footer class="page-footer font-small">
              <!-- Copyright -->
              <div class="footer-copyright text-center pt-5 pb-4">© 2019 Copyright:
                <a href="https://githublytics.com/"> GitHublytics.com</a>
              </div>
              <!-- Copyright -->
            </footer> 

        </div>

        
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>

        <script>
            function goToHome(){window.location="/home";}
            function goToAbout(){window.location="/home#about";}
        </script>
    </body>
</html>